@import 'libs/fonts';
@import 'libs/normalize';

.container{
    max-width: 1140px;
    margin: 0 auto;
}
*{
    box-sizing: border-box;
}
@import 'blocks/main';
@import 'blocks/about';
@import 'blocks/title';
@import 'blocks/subtitle';
@import 'blocks/works';
@import 'blocks/services';
@import 'blocks/team';
@import 'blocks/says';
@import 'blocks/partners';
@import 'blocks/contact';
@import 'blocks/footer';
@import 'blocks/animations';