.main{
    min-height: 806px;
    opacity: 0.98;
    background-color: #eff0f2;
    padding-top: 64px;
    &__header{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__logo{
        font-family: 'Montserrat';
        display: block;
        width: 113px;
        height: 46px;
        border: 5.6px solid #170f1c;
        font-size: 17px;
        font-weight: 700;
        text-transform: uppercase;
        letter-spacing: 0.06em;
        color: #000000;
        text-align: center;
        line-height: 32px;
        cursor: default;
        span{
            font-size: 21px;
            color: #77efe5;
        }
        
    }
    &__burger{
        display: block;
        width: 35px;
        height: 12px;
        position: fixed;
        top: 80px;
        right: 10%;
        z-index: 1000;
        cursor: pointer;
        span{
            display: block;
			height: 5px;
			width: 100%;
			background-color: #000; 
			margin-bottom: 2px;
            transition: 0.5s all;
            cursor: pointer;
        }
        &-active{
            span{
                margin-bottom: -2px;
                &:nth-child(1){
                    transform: translateY(6px) rotate(-45deg);
                }
                &:nth-child(2){
                    display: none;
                }
                &:nth-child(3){
                    transform: translateY(3px) rotate(45deg);
                }
            
            }

        }
    }
    &__descr{
        margin-top: 195px;
        text-align: center;
        text-shadow: 4px 8px 10px rgba(0,0,0,0.23),10px 20px 5px rgba(0,0,0,0.05);
        font-family: 'Montserrat';
        font-size: 45px;
        line-height: 50px;
        font-weight: 700;
        text-transform: uppercase;
        letter-spacing: 0.06em;
        color: #505050;
        margin-bottom: 150px;
        span{
            display: inline-block;
            background-color: #a3deda;
            width: 255px;
            height: 54px;
        }
    }
    &__btn{
        display: block;
        width: 232px;
        height: 53px;
        opacity: 0.5;
        border: 2px solid #000000;
        border-radius: 2px;
        margin: 0 auto;
        opacity: 0.74;
        font-family: 'Montserrat';
        font-size: 18px;
        line-height: 28px;
        font-weight: 400;
        text-transform: uppercase;
        letter-spacing: 0.12em;
        color: #000000;
        transition: .2s linear;
        cursor: pointer;
        &:hover{
            border: #6ef4e9;
            background-color: #6ef4e9;
            color: #505050;
            text-decoration: underline;
        }
    }
    &__icon{
        position: absolute;
        display: block;
        right: 20%;
    }
}