.says{
    padding-top: 121px;
    min-height: 923px;
    background-color: #f9fbfb;
    &__slider{
        padding-top: 173px;
        position: relative;
        transition: 0.5s all;
       &-item{
           display: flex;
           justify-content: space-between;
           align-items: center;
       }
       
    }
    &__block{
        position: relative;
        z-index: 1;

        img{
            display: block;
            width: 319px;
            height: 410px;
            z-index: 1;
            margin-left: 37px;
        }

    
    }
    &__grey{
        position: absolute;
        top: 24px;
        z-index: -1;
        display: block;
        width: 393px;
        height: 362px;
        background-color: #ecedef;
        border-radius: 3px;
    }
    &__descr{
        width: 666px;
        height: 362px;
        background-color:#eaebed;
        border-radius: 3px;
        padding-top: 101px;
        padding-left: 86px;
        padding-right: 76px;
    }
    
    &__title{
        opacity: 0.94;
        font-family: 'Merriweather';
        font-size: 20px;
        font-weight: 700;
        letter-spacing: 0.06em;
        color: #000000;
        text-align: center;
        text-transform: uppercase;
        span{
            font-size: 15px;
            font-weight: 400;
            color: #787878;
            font-style: oblique;
            text-transform: uppercase;
        }
    }
    &__text{
        margin-top: 30px;
        margin-bottom: 33px;
        opacity: 0.7;
        font-family: 'Raleway';
        font-size: 16px;
        line-height: 27px;
        font-weight: 400;
        letter-spacing: 0.06em;
        color: #000000;
        text-align: center;
    }
    
    &__stars{
        display: flex;
        justify-content: center;
    }
    &__star{
        width: 15px;
        height: 14px;
        margin-right: 7px;
    }
    &__arrows{
       display: flex;
       justify-content: flex-end;
    }
    &__btn{
        width: 53px;
        height: 53px;
        background-color: #ffffff;
        box-shadow: 3px 7px 11px 0px rgba(19,19,21,0.65);
        border-radius: 3px;
        border: none;
        opacity: 0.3;
        transition: 0.2s ease;
        outline: none;
        cursor: pointer;
        &:hover{
        background-color: #71f6eb;
        opacity: 0.67;
        
        }
        &-prev{
            margin-right: 29px;
        }
    }
    .icon-chevron-left{
        font-size: 36px;
      }
    .icon-chevron-right{
        font-size: 36px;
    }
}