.says{
    padding-top: 121px;
    min-height: 923px;
    position: relative;
    background-color: #f9fbfb;
    &__wrapper{
        margin-top: 137px;
        position: relative;
    }
    &__slider{
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: relative;
    }
    &__descr{
        width: 666px;
        height: 362px;
        background-color: #eaebed;
        border-radius: 3px;
    }
    &__block{
        width: 393px;
        height: 362px;
        background-color: #ecedef;
        border-radius: 3px;
        position: relative;
    }
    &__img{
        display: block;
        position: absolute;
        width: 340px;
        height: 410px;
        top: -24px;
        left: 27px;
    }
    &__descr{
        padding-top: 101px;
        padding-left: 86px;
        padding-right: 76px;
    }
    &__title{
        opacity: 0.94;
        font-family: 'Merriweather';
        font-size: 20px;
        font-weight: 700;
        letter-spacing: 0.06em;
        color: #000000;
        text-align: center;
        span{
            font-size: 15px;
            font-weight: 400;
            color: #787878;
            font-style: oblique;
        }
    }
    &__text{
        margin-top: 30px;
        margin-bottom: 33px;
        opacity: 0.7;
        font-family: 'Raleway';
        font-size: 16px;
        line-height: 27px;
        font-weight: 400;
        letter-spacing: 0.06em;
        color: #000000;
        text-align: center;
    }
    .fff{
        font-size: 34px;
        color: black;
    }
    &__stars{
        display: flex;
        justify-content: center;
    }
    &__star{
        width: 15px;
        height: 14px;
        margin-right: 7px;
    }
    &__arrows{
        position: absolute;
        right: 0;
        bottom: -100px;
    }
    &__btn{
        width: 53px;
        height: 53px;
        background-color: #ffffff;
        box-shadow: 3px 7px 11px 0px rgba(19,19,21,0.65);
        border-radius: 3px;
        border: none;
        bottom: -85px;
        right: 159px;
        opacity: 0.3;
        transition: 0.2s ease;
        outline: none;
        &:hover{
        background-color: #71f6eb;
        opacity: 0.67;
        }
    }
    .prev{
        margin-right: 30px;
    }
    .icon-chevron-left{
        font-size: 36px;
      }
    .icon-chevron-right{
        font-size: 36px;
    }
}