.says{
    padding-top: 121px;
    min-height: 923px;
    position: relative;
    background-color: #f9fbfb;
    &__wrapper{
        margin-top: 137px;
       
    }
    &__slider{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__descr{
        width: 666px;
        height: 362px;
        background-color: #eaebed;
        border-radius: 3px;
    }
    &__block{
        width: 393px;
        height: 362px;
        background-color: #ecedef;
        border-radius: 3px;
        position: relative;
    }
    &__img{
        display: block;
        position: absolute;
        width: 340px;
        height: 410px;
        top: -24px;
        left: 27px;
    }
    &__descr{
        padding-top: 101px;
        padding-left: 86px;
        padding-right: 76px;
    }
    &__title{
        opacity: 0.94;
        font-family: 'Merriweather';
        font-size: 20px;
        font-weight: 700;
        letter-spacing: 0.06em;
        color: #000000;
        text-align: center;
        span{
            font-size: 15px;
            font-weight: 400;
            color: #787878;
            font-style: oblique;
        }
    }
    &__text{
        margin-top: 30px;
        opacity: 0.7;
        font-family: 'Raleway';
        font-size: 16px;
        line-height: 27px;
        font-weight: 400;
        letter-spacing: 0.06em;
        color: #000000;
        text-align: center;
    }
    .fff{
        font-size: 34px;
        color: black;
    }
}