.services{
    min-height: 1618px;
    padding-top: 124px;
    background-color: #f9fbfb;
    &__wrapper{
        margin-top: 110px;
    }
    &__blocks{
        display: flex;
        justify-content: space-between;
        margin-top: 13px;
    }
    &__items{
        padding-top: 130px;
        padding-left: 65px;
        position: relative;
    }
.big{
    padding-right: 190px;
    width: 652px;
    height: 397px;
    &_1{
        background-image: url('../img/section_4/tea2.jpg');
    }
    &_2{
        background-image: url('../img/section_4/pc.jpg')
    }
    &_3{
        background-image: url('../img/section_4/cups.jpg')
    }
}   .small{
    width: 474px;
    height: 396px;
    padding-right: 103px;
    &_1{
         background-image: url('../img/section_4/note.jpg');
    }
    &_2{
        background-image: url('../img/section_4/office.jpg')
    }
    &_3{
        background-image: url('../img/section_4/bottle.jpg');
    }
    }
    &__title{
        opacity: 0.94;
        font-family: 'Merriweather';
        font-size: 20px;
        font-weight: 700;
        text-transform: uppercase;
        letter-spacing: 0.05em;
        color: #ffffff;
    }
    &__descr{
        margin-top: 27px;
        opacity: 0.9;
        font-family: 'Raleway';
        font-size: 16px;
        line-height: 25px;
        font-weight: 400;
        letter-spacing: 0.02em;
        color: #ffffff;
    }
    &__toggle{
        position: absolute;
        bottom: 57px;
        display: block;
        opacity: 0.76;
        font-family: 'Raleway';
        font-size: 19px;
        font-weight: 500;
        text-transform: uppercase;
        letter-spacing: 0.04em;
        color: #ffffff;
        text-decoration: none;
        transition: 0.6s linear;
        cursor: pointer;
        &:hover{
            opacity: 1;
            // text-decoration: underline;
        }
        &::after{
            content: '';
            display: block;
            margin-top: 5px;
            width: 0;
            height: 2px;
            background-color: #fff;
            transition: 0.3s linear;
        }
        &:hover::after{
            width: 100%;
        }
    }
}
