.subtitle{
    opacity: 0.61;
    font-family: 'Merriweather';
    font-size: 18px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 0.06em;
    color: #000000;
    text-align: center;
    margin-top: 17px;
}