.title{
    opacity: 0.9;
    font-family: 'Montserrat';
    font-size: 38px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.06em;
    color: #000000;
    text-align: center;
}