.works{
    padding-top: 129px;
    min-height: 1166px;
    &__wrapper{
        margin-top: 122px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    &__items{
        display: block;
       
    }
    &__img{
        transition: 0.3s ease-in;
        position: relative;
        &:hover{
            transform: scale(1.1);            ;
            box-shadow: 10px 6px 16px 0px rgba(48, 48, 68, 0.57);
        }
        
    }
    &__link{
        text-decoration: none;
    }
    .mt{
        margin-top: 13px;
    }
    .popup{
        display: none;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 9;
        background-color: rgba(0, 0, 0, 0.5);
    }
    .animated-show{
        animation: show 0.3s linear;
    }
}